<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div class="d-flex flex-justify-between flex-items-start mb-1">
          <h1 class="f4 lh-condensed mb-1">
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
          </h1>
        </div>
       <div class="text-gray mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
        {{ post.content | truncatewords: 20 }}
       </div>
    </div>
  {% endfor %}
</div>
